@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #18191a;
  color: white;
}

strong {
  padding: 0;
  margin: 0;
}

label,
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
