.fullPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navBar {
  box-shadow: -10px 9px 49px -17px rgba(0, 0, 0, 0.3);
  background: #282c34;
  border-bottom: 1px solid #3f3f40;
  flex-direction: row;
  flex: 2;
  align-items: center;
  display: block;
  position: relative;
  overflow: hidden;
}

.content {
  flex: 19;
  overflow-x: hidden;
  flex-direction: row;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contentheader {
  min-height: 65%;
  max-width: 100%;
  align-self: center;
}

.contentresto {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.short_resto_wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

@media (max-width: 420px) {
  .contentheader {
    min-height: 30%;
  }
}

@media (max-width: 600px) {
  .contentheader {
    min-height: 30%;
  }
}

/* ################ BorderTools ##################### */

/* .navBar {
  border: 3px dotted blue;
} */

/* .content {
  border: 3px dotted red;
} */
/* .contentheader {
  border: 3px dotted orange;
} */
/* .contentresto {
  border: 3px dotted limegreen;
} */
